!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "What is House Light?"

    %link{href: "https://fonts.googleapis.com/css?family=Lato:400,300,700", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag "application", media: "all", data: { "turbolinks-track": "reload" }
    = javascript_include_tag "application", data: { "turbolinks-track": "reload" }
    = csrf_meta_tag

  %body
    #app
      = yield
